.research-page {
    margin-top: 50px;
}

.research-text-block {
    margin-left: 0;
}

.research-image-container {
    margin-top: 25px;
    margin-bottom: 20px;
}

.research-image-container img {
    width: 100%;
    max-width: 420px;
    height: auto;
}

@media screen and (orientation: landscape) and (min-aspect-ratio: 1/1) and (min-width: 1001px) {
    .research-page {
        margin-left: 50px;
    }

    .research-text-block {
        margin-left: 0;
    }

    .research-image-container {
        float: right;
        overflow: hidden;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .research-image-container img {
        width: 320px;
        height: auto;
        max-width: 100%;
    }
}
